<script>
    window.onload = function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();
            // generate a five digit number for the contact_number variable
            this.contact_number.value = Math.random() * 100000 | 0;
            // these IDs from the previous steps
            emailjs.sendForm('contact_service', 'contact_form', this)
                .then(function() {
                    alert('Message submitted successfully!');
                    console.log('SUCCESS!');
                }, function(error) {
                    alert('Message has failed to send. Check all fields have valid inputs.');
                    console.log('FAILED...', error);
                });
        });
    }
</script>