{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div >   
        <div class="jumbotron-hero jumbotron jumbotron-fluid" id="hero-image" style="text-align: center;">
            <div class="centered-div">
                <h1 class="display-1 brand-name">Home(ish)</h1>
                <p class="lead">For renters and landlords...</p>
                <p class="lead">...Feel at home with high-end furniture</p>
                <br>
                <a class="btn btn-light btn-sm" href="{% url 'products' %}" role="button">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7" style="margin: auto;">
                <h4>Who Are We?</h4>
                <p>At &nbsp;<span class="brand-name">Home(ish)</span>,&nbsp; we believe every person, who's renting, should have quality and luxurious pieces to fill their new space. Just because you're renting, it doesn't mean the furniture you have should be falling apart and uninviting to guests, no? Our furniture is made to last, with our 10 year waranty on our sofas, chairs and tables, so you can bring it to your new home whenever you're ready.</p>
                <p>And we don't just cater to renters, we know landlords need to revamp their space, so why not add the luxurious feel to your home with &nbsp;<span class="brand-name">Home(ish)</span>&nbsp; furniture! We can't necessarily always choose how the outside of the building looks like, so why not make the most of the interior.</p>
                <p>So, take a browse, see anything you like don't hesitate! We currently have a promotion for <strong style="font-size: 1rem;">£50 off when you spend £350 or more!</strong></p>
                <p>And if you want an expert opinion on what items would look great in your space, <a style="color: #448070;" href="{% url 'design' %}">make an appointment with us today for free</a> and we will have one of our &nbsp;<span class="brand-name">Home(ish)</span>&nbsp; designers visit you and give you their expert opinion.</p>
            </div>
            <div class="col-5">
                <img src="/media/plant-pot.jpeg" alt="plant pot">
            </div>
        </div>
    </div>
    <br>
    <div class="jumbotron-news mt-1" style="text-align: center;">
        <div class="centered-div">
            <h1 class="display-4 mb-4">Sign-Up For Our Newsletter</h1>
            <form style="max-width: 60%; margin: auto;" action="">
                <div class="form-group">
                    <input type="email" class="form-control mb-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">
                </div>
            </form>
            <a class="btn btn-light btn-sm" href="#" role="button">Submit</a>
        </div>
    </div>

    <div class="mt-5">
        <p class="lead text-center">Be inspired on the go<br>Follow us on social media</p>
    </div>
    <hr style="max-width: 60%; margin: auto;">
    <div class="flex-gallery mt-3">
        <div class="social-gallery">

            <div class="social-gallery-image w-1 h-1">
                <div class="social-items">
                    <div class="social-image">
                        <img src="/media/decor-6.jpeg" alt="decor image">
                    </div>
                </div>
            </div>

            <div class="social-gallery-image w-1 h-1">
                <div class="social-items">
                    <div class="social-image">
                        <img src="/media/decor-7.jpeg" alt="decor image">
                    </div>
                </div>
            </div>
            
            <div class="social-gallery-image w-1 h-1">
                <div class="social-items">
                    <div class="social-image">
                        <img src="/media/decor-14.jpeg" alt="decor image">
                    </div>
                </div>
            </div>
            
            <div class="social-gallery-image w-1 h-1">
                <div class="social-items">
                    <div class="social-image">
                        <img src="/media/decor-24.jpeg" alt="decor image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-3" style="max-width: 60%; margin: auto;">

    <div class="container mt-5" style="padding: 0px;">
        <div class="row text-center" style="max-width: 20%; margin: auto;">
            <div class="col-4">
              <a href="https://www.facebook.com/Home_ish-106704365332388" target="_blank"><span class="fa-brands fa-facebook-f" style="color: #372f42; font-size: 2rem;"></span></a>
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com/home.ish_uk/" target="_blank"><span class="fa-brands fa-instagram" style="color: #372f42; font-size: 2rem;"></span></a>
            </div>
            <div class="col-4">
              <a href="https://www.pinterest.co.uk/leannemgoldsmith/_saved/" target="_blank"><span class="fa-brands fa-pinterest-p" style="color: #372f42; font-size: 2rem;"></span></a>
            </div>
        </div>
    </div>

{% endblock %}