{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="hero-image">   
        <div class="jumbotron-hero" style="text-align: center;">
            <div class="centered-div">
                <h1 class="display-1">Home<em>(ish)</em></h1>
                <p class="lead">Make your space feel more like home</p>
                <a class="btn btn-light btn-lg" href="{% url 'products' %}" role="button">Shop Now</a>
            </div>
        </div>
    </div> 

    <br>
    <br>

    <div>
        <h2 class="display-4" style="text-align: center;">Shop Categories</h2>
        <hr class="my-5" style="width:30%; margin:0 auto;">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=sofas"><h2 class="card-title">Sofas</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=chairs"><h2 class="card-title">Chairs</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=tables"><h2 class="card-title">Tables</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=tv_units"><h2 class="card-title">TV Units</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=bedroom"><h2 class="card-title">Bedroom</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=lighting"><h2 class="card-title">Lighting</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=decor"><h2 class="card-title">Décor</h2></a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card mb-3 mx-auto categories" style="max-width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=kitchen_dining"><h2 class="card-title">Kitchen</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="jumbotron-news" style="text-align: center;">
        <div class="centered-div">
            <h1 class="display-4 mb-4">Sign-Up For Our Newsletter</h1>
            <form style="max-width: 60%; margin: auto;" action="">
                <div class="form-group">
                    <input type="email" class="form-control mb-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">
                </div>
            </form>
            <a class="btn btn-light btn-lg" href="#" role="button">Submit</a>
        </div>
    </div>

    <br>
    <br>

    <div>
        <h2 class="display-4" style="text-align: center;">Follow Us On Social Media</h2>
        <hr class="my-5" style="width:30%; margin:0 auto;">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card">
                <img src="/media/Desk.jpg" class="card-img-top" alt="Facebook image">
                <div class="card-body">
                  <h5 class="card-title">Go to our Facebook page <i class="fa-brands fa-facebook"></i></h5>
                  </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/media/Fruit-Bowl.jpg" class="card-img-top" alt="Instagram image">
                <div class="card-body">
                  <h5 class="card-title">Go to our Instagram page <i class="fa-brands fa-instagram"></i></h5>
                  </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/media/Plant-Pot.jpg" class="card-img-top" alt="Pinterest image">
                <div class="card-body">
                  <h5 class="card-title">Go to our Pinterest page <i class="fa-brands fa-pinterest"></i></h5>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <br>
    <br>

{% endblock %}