{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="hero-image">   
    <div class="jumbotron mt-5" style="text-align: center;">
        <h1 class="display-1">Home<em>(ish)</em></h1>
        <p class="lead">Make your space feel more like home</p>
        <hr class="my-5" style="width:30%; margin:0 auto;">
        <a class="btn btn-light btn-lg" href="#" role="button">Shop Now</a>
    </div>
</div> 

    <div>
        <h2 class="display-4">Shop Categories</h2>
        <hr class="my-5" style="width:30%; margin:0 auto;">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="text-align: center;">
        <h1 class="display-4 mb-4">Sign-Up For Our Newsletter</h1>
        <form action="">
            <div class="form-group">
                <input type="email" class="form-control mb-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">
            </div>
        </form>
        <a class="btn btn-light btn-lg" href="#" role="button">Submit</a>
    </div>

    <div>
        <h2 class="display-4">Follow Us On Social Media</h2>
        <hr class="my-5" style="width:30%; margin:0 auto;">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="Facebook image">
                <div class="card-body">
                  <h5 class="card-title">Go to our Facebook page</h5>
                  </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="Instagram image">
                <div class="card-body">
                  <h5 class="card-title">Go to our Instagram page</h5>
                  </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="Pinterest image">
                <div class="card-body">
                  <h5 class="card-title">Go to our Pinterest page</h5>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div>
        <footer class="footer-10">
			<div class="container">
				<div class="row mb-5 pb-3 no-gutters">
					<div class="col-md-4 mb-md-0 mb-4 d-flex">
						<div class="con con-1 w-100 py-5">
							<div class="con-info w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="ion-ios-call"></span>
								</div>
								<div class="text">
									<span>(+00) 1234 5678</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-md-0 mb-4 d-flex">
						<div class="con con-2 w-100 py-5">
							<div class="con-info w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="ion-ios-mail"></span>
								</div>
								<div class="text">
									<span>info@email.com</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-md-0 mb-4 d-flex">
						<div class="con con-3 w-100 py-5">
							<div class="con-info w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="ion-ios-pin"></span>
								</div>
								<div class="text">
									<span>203 Fake St. Mountain View, San Francisco, California, USA</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">About</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="d-block">Out story</a></li>
		              <li><a href="#" class="d-block">Awards</a></li>
		              <li><a href="#" class="d-block">Our Team</a></li>
		              <li><a href="#" class="d-block">Career</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Company</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="d-block">Our services</a></li>
		              <li><a href="#" class="d-block">Clients</a></li>
		              <li><a href="#" class="d-block">Contact</a></li>
		              <li><a href="#" class="d-block">Press</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Resources</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="d-block">Blog</a></li>
		              <li><a href="#" class="d-block">Newsletter</a></li>
		              <li><a href="#" class="d-block">Privacy Policy</a></li>
		            </ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 mb-md-0 mb-4">
						<h2 class="footer-heading">Subscribe</h2>
						<form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                <button type="submit" class="form-control submit rounded-right">Subscribe</button>
              </div>
              <span class="subheading">Get digital marketing updates in your mailbox</span>
            </form>
					</div>
				</div>
				<div class="row mt-5 pt-4 border-top">
          <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
            <p class="copyright mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
          </div>
          <div class="col-md-6 col-lg-4 text-md-right">
          	<ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
            </ul>
          </div>
        </div>
			</div>
		</footer>
    </div>
{% endblock %}