{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Confirmation Order
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center pr-0 pl-0">
                <div class="jumbotron jumbotron-fluid jumbotron-category mb-0">
                    <div class="container">
                        <h1 class="display-4 sm-category-name" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">Thank You!</h1>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <p class="text-black text-center success-headline pr-3 pl-3">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
    <br>
    <hr style="max-width: 50%; margin: auto;">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Order Number: <span class="small-text" style="color: #448070;">{{ order.order_number }}</span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Order Date: {{ order.date }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0" style="color: #448070;">
                            {{ item.product.name }}: £{{ item.lineitem_total }}
                        </p>
                    </div>
                </div>
                {% endfor %}
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivering To:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Full Name: {{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Address 1: {{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Address 2: {{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">County: {{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Town or City: {{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Postal Code: {{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Country: {{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Phone Number: {{ order.phone_number }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Order Total: £{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Delivery: £{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-black">Discount Applied: {% if order.order_total >= 350 %}£50.00 {% else %}£0.00 {% endif %}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 font-weight-bold" style="color: #448070;">Grand Total: £{{ order.grand_total }}</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
			<div class="col-12">
                {% if from_profile %}
                <br>
                    <a href="{% url 'profile' %}" class="btn btn-green">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                {% else %}
                <br>
				<a href="{% url 'products' %}" class="btn btn-green">
					<span class="icon mr-2">
						<i class="fa-solid fa-couch"></i>
					</span>
					<span>Explore what we have on site!</span>
				</a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}