@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* Homepage */
.brand-name {
    font-family: 'Homemade Apple', cursive;
}

.long-title {
    font-size: 3.5rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#delivery-banner {
    background-color: #bea06a !important;
    color: #f5f5f3 !important;
}

.nav-link {
    color: #f5f5f3 !important;
    padding: 0.5rem 0.72rem !important;
}

.navbar {
    padding: 16px 2px !important
}

.border-gold {
    color: #bea06a;
}

.btn-gold {
    background-color: white;
    color: #bea06a;
}

.cart {
    color: #448070;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-green {
    background: #448070;
    color: white;
}

.btn-green:hover {
    color: white;
}

.form-control {
    height: calc(1.5em + 0.75rem + 3px) !important;
}

.logo-font {
    color: black;
}

.text-black {
    color: black;
}

#hero-image {
    background-image: url("/media/homeish-2560.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.centered-div {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    color: white;
}

.categories {
    height: 200px;
    text-align: center;
    background-color: #d8c7b8;
    border-color: #d8c7b8;
    color: white !important;
}

.categories h2 {
    line-height: 157px;
}

.jumbotron-news {
    background-image: url("/media/white-chair-2560.png");
    background-size: cover;
    min-height: 600px;
    position: relative;
  }

.card-title {
    text-align: center;
}

.footer-heading {
    color: white;
}

.subheading {
    color: white;
}

.copyright {
    color: white !important;
}

.footer-link a {
    color: white;
}

.bg-blue {
    background: white !important;
    border-color: lightgrey !important;
    border-width: 0 0 0.5px 0;
    border-style: solid;
}

/* Products */
.buffer {
    margin-top: 100px !important;
    max-width: 70% !important;
}

.product-container {
    top: 50px !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.new {
    border: #6aa1a1;
    border-radius: 2px;
    background-color: #6aa1a1;
}

.new a {
    color: white !important;
}

.sale {
    border: #d7717c;
    border-radius: 2px;
    background-color: #d7717c;
}

.sale a {
    color: white !important;
}

.jumbotron-category {
    background-color: #f5f5f3;
    background-image: url(/media/floral-wood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Social Gallery */
.flex-gallery {
    display: block;
    max-width: 90%;
    margin: auto;
}

.social-gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 400px;
    grid-gap: 10px;
}

.social-items {
    width: 100%;
    height: 100%;
    position: relative;
}

.social-items .social-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.social-items .social-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Shopping Bag */

.btn-outline-green {
    background: white;
    color: #448070 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #448070;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #448070;
    color: white !important;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 113px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Image Gallery */

.gallery-container {
    margin: 0 55px 20px 55px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 250px 250px;
    grid-gap: 10px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

/* Contact Us */
.dbox {
    margin-bottom: 25px;
}

.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #448070;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
}

.dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.fa {
    display: inline-block;
    text-rendering: auto;
}

.dbox .text {
    width: 100%;
}

.d-flex {
    display: flex !important;
}

.wrapper {
    width: 100%;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Footer design from Colorlib */
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #fff; }

.aside-stretch {
    background: #007bff;
}

.aside-stretch:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: #007bff;
}
  
.aside-stretch-right {
    background: #007bff;
}

.aside-stretch-right:after {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: #007bff;
}
  
.ftco-section {
    padding: 12em 0;
}

.ftco-section h2 {
    margin-bottom: 0;
}
  
footer {
    padding: 7em 0;
}

.footer-06 {
    padding-top: 0 !important;
    background: #302939;
    position: relative;
    overflow: hidden;
    z-index: 0;
    top: 30px;
}

.footer-06:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .2;
    z-index: -1;
    background: #d7b8ff;
    background: -moz-radial-gradient(center, ellipse cover, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d7b8ff), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(center, ellipse, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, #d7b8ff 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7b8ff', endColorstr='#ffffff', GradientType=1 );
}

.footer-06 .subheading {
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-06 .heading-section {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.footer-06 .footer-heading {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-06 .footer-heading .logo {
    color: #fff;
}

.footer-06 p {
    color: rgba(255, 255, 255, 0.3);
}

.footer-06 a {
    color: #fff;
}

.footer-06 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-06 .subscribe-form {
    border-radius: 40px;
    background: #fff;
    padding: 3px;
}

.footer-06 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.footer-06 .subscribe-form .form-group input {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 16px;
    height: 56px;
    border-radius: 0;
}

.footer-06 .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important; 
}

.footer-06 .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-06 .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    width: 150px;
    height: 56px;
    font-size: 16px;
    background: #352d3f !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px;
}

.footer-06 .subscribe-form .form-group .submit:hover, .footer-06 .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important;
}

.footer-06 .aside-stretch {
    background: #322b3c;
}

.footer-06 .aside-stretch:after {
    background: #322b3c;
}

.footer-06 .aside-stretch-right {
    background: #372f42;
}

.footer-06 .aside-stretch-right:after {
    background: #372f42;
}

/* Email */
.contact-container2 {
    width: 60%;
    margin: auto;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (max-width: 1920px) {
    .jumbotron-news {
        background-image: url("/media/white-chair-1920.png");
    }

    #hero-image {
        background-image: url("/media/homeish-1920.png");
    }
}

@media (max-width: 1440px) {
    #hero-image {
        background-image: url("/media/homeish-1440.png");
    }
    
    .jumbotron-news {
        background-image: url("/media/white-chair-1440.png");
    }
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (max-width: 1024px) {
    #hero-image {
        background-image: url("/media/homeish-1024.png");
    }

    .jumbotron-news {
        background-image: url("/media/white-chair-1024.png");
    }

    #decor2, #decor3 {
        display: none;
    }

    #decor1, #decor4 {
        grid-column: span 2;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 138px;
    }
}
  
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (max-width: 768px) {
    .aside-stretch-right {
        background: transparent;
    }

    .aside-stretch-right:after {
        background: transparent;
        display: none;
    }

    .aside-stretch {
        background: transparent;
    }

    .aside-stretch:after {
        background: transparent;
        display: none;
    }

    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 80px);
    }

    #hero-image {
        background-image: url("/media/homeish-768.png");
    }

    .jumbotron-news {
        background-image: url("/media/white-chair-768.png");
    }

    .brand-name {
        margin-top: 6px !important;
    }

    .auth-category {
        margin-top: 6rem !important;
    }

    .checkout-form {
        margin-top: 30px;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 500px) {
    #decor4, #decor3, #decor2 {
        display: none;
    }

    #decor1 {
        grid-column: span 4;
    }

    .gallery-container {
        grid-template-columns: repeat(2,1fr);
    }
    .w-1,.w-2,.w-3,.w-4 {
        grid-column: span 1;
    }
    .h-1,.h-2,.h-3 {
        grid-row: span 1;
    }

    #hero-image {
        background-image: url("/media/orange-sofa-500.png");
        opacity: 0.8;
        margin-top: 40px;
    }

    .jumbotron-news {
        background-image: url("/media/white-chair-500.png");
    }

    .jumbotron-category {
        margin-top: 39px;
    }
    
    .sm-category-name {
        color: white !important;
    }

    .auth-category {
        margin-top: 7rem !important;
    }

    .card {
        width: 80% !important;
        padding: 0;
    }

    .bag-total-headline {
        margin-top:-35px !important;
    }

    .checkout-headline {
        margin-top: -35px !important;
    }

    .contact-container2 {
        width: 80% !important;
    }

    .design-container {
        max-width: 80% !important;
    }
}

@media (max-width: 425px) {
    .jumbotron-news {
        background-image: url("/media/white-chair-425.png");
    }

    #hero-image {
        background-image: url("/media/orange-sofa-425.png");
        opacity: 0.8;
    }

    .gallery-container {
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4 {
        grid-column: span 1;
    }
    .h-1,.h-2,.h-3 {
        grid-row: span 1;
    }
}

@media (max-width: 390px) {
    #hero-image {
        margin-top: 80px;
    }

    .long-title {
        font-size: 2.5rem !important;
    }

    .jumbotron-category {
        margin-top: 80px;
    }

    .prod-detail {
        margin-top: 48px;
    }

    .small-text {
        font-size: 0.9rem !important;
    }

    .title-size {
        font-size: 2.5rem !important;
    }

    .buffer-small {
        padding: 0px 10px;
    }
}

@media (max-width: 320px) {
    .jumbotron-news {
        background-image: url("/media/white-chair-320.png");
    }

    #hero-image {
        background-image: url("/media/orange-sofa-320.png");
        opacity: 0.8;
        margin-top: 80px;
    }

    .product-container {
        top: 100px !important;
    }

    .jumbotron-category {
        margin-top: 80px;
        margin-bottom: -70px !important;
    }

    .decor-headline {
        margin-top: 55px;
    }

    .auth-category {
        margin-top: 10rem !important;
    }

    .design-heading {
        margin-top: 58px;
        padding: 0px 20px;
    }

    .bag-heading {
        margin-top: 55px;
    }

    .bag-total-headline {
        margin-top: 35px !important;
    }

    .checkout-headline {
        margin-top: 35px !important;
    }

    .success-headline {
        margin-top: 60px !important;
    }

    .buffer {
        margin-top: 150px !important;
    }

    .buffer-small {
        margin-top: 80px !important;
        padding: 0px 10px;
    }

    .del-buffer {
        margin-top: 50px;
    }
}