@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    height: 100%;
    margin: 30px !important;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* Homepage */
.logo-font {
    color: black;
}

.text-black {
    color: black;
}

.jumbotron-hero {
    background-image: url("/media/Hero-Image.png");
    background-size: cover;
    min-height: 550px;
    position: relative;
  }

  .centered-div {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    color: white;
}

.categories {
    height: 200px;
    text-align: center;
    background-color: #d8c7b8;
    border-color: #d8c7b8;
    color: white !important;
}

.categories h2 {
    line-height: 157px;
}

.jumbotron-news {
    background-image: url("/media/White-Chair.png");
    background-size: cover;
    min-height: 550px;
    position: relative;
  }

.card-title {
    text-align: center;
}

footer {
    background-color: #25596f;
}

.footer-heading {
    color: white;
}

.subheading {
    color: white;
}

.copyright {
    color: white !important;
}

.footer-link a {
    color: white;
}

.bg-blue {
    background: white !important;
    border-color: lightgrey !important;
    border-width: 0 0 0.5px 0;
    border-style: solid;
}
