@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* Homepage */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: black;
    color: white;
}

.logo-font {
    color: black;
}

.text-black {
    color: black;
}

.jumbotron-hero {
    background-image: url("/media/hero-image.png");
    background-size: cover;
    min-height: 550px;
    position: relative;
  }

  .centered-div {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    color: white;
}

.categories {
    height: 200px;
    text-align: center;
    background-color: #d8c7b8;
    border-color: #d8c7b8;
    color: white !important;
}

.categories h2 {
    line-height: 157px;
}

.jumbotron-news {
    background-image: url("/media/white-chair.png");
    background-size: cover;
    min-height: 550px;
    position: relative;
  }

.card-title {
    text-align: center;
}

footer {
    background-color: #25596f;
}

.footer-heading {
    color: white;
}

.subheading {
    color: white;
}

.copyright {
    color: white !important;
}

.footer-link a {
    color: white;
}

.bg-blue {
    background: white !important;
    border-color: lightgrey !important;
    border-width: 0 0 0.5px 0;
    border-style: solid;
}

/* Products */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.category_image {
    height: 650px;
    width: 100%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Shopping Bag */

.btn-outline-green {
    background: white;
    color: darkolivegreen !important; /* use important to override link colors for <a> elements */
    border: 1px solid darkolivegreen;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: darkolivegreen;
    color: white !important;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}