<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-arrivals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-arrivals-link">
                <a href="" class="dropdown-item">New Arrivals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Sofas</a>
                <a href="" class="dropdown-item">Chairs</a>
                <a href="" class="dropdown-item">Tables</a>
                <a href="" class="dropdown-item">TV Units</a>
                <a href="" class="dropdown-item">Bedroom</a>
                <a href="" class="dropdown-item">Lighting</a>
                <a href="" class="dropdown-item">Décor</a>
                <a href="" class="dropdown-item">Kitchen</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sales-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sales-link">
                <a href="" class="dropdown-item">Sale</a>
            </div>
        </li>

    </ul>
</div>