<div style="max-width: 50%; margin: auto; margin-top: 0.5rem !important;">
    <a class="d-block d-lg-none" href="{% url 'home' %}">
        <h5 class="text-center mb-0 brand-name" style="color: #f5f5f3 !important; text-decoration: none;">Home(ish)</h5>
    </a>
</div>
<div style="margin: auto;">
    <li class="list-inline-item">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                <input class="form-control border border-gold" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control btn btn-gold border border-gold" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    </button>
                </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item">
        <a class="text-black nav-link d-block d-lg-none" href="{% url 'contact' %}">
        <div class="text-center">
            <div><i class="fa-solid fa-phone"></i></div>
        </div>
        </a>
    </li>
    {% if request.user.is_authenticated %}
        <li class="list-inline-item">
            <a class="text-black nav-link d-block d-lg-none" href="#">
            <div class="text-center">
                <div><i class="fa-solid fa-compass-drafting"></i></div>
            </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a href="{% url 'appointment_add' %}" class="dropdown-item">Book a Design Appointment</a>
                <a href="{% url 'appointment_show' %}" class="dropdown-item">Your Appointments</a>
            </div>
        </li>
    {% endif %}
    <li class="list-inline-item dropdown">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fa-solid fa-user"></i></div>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Admin Control</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
            <div class="text-center">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <!-- <p class="my-0">
                    {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                    {% else %}
                        £0.00
                    {% endif %}
                </p> -->
            </div>
        </a>
    </li>
</div>