{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center pr-0 pl-0">
                <div class="jumbotron jumbotron-fluid jumbotron-category mb-0">
                    <div class="container">
                        <h1 class="display-4" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">Amend In-Home Design Appointment</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <h5 class="text-center">Amend your appointment</h5>
    </div>

    <div class="col">
        <p class="text-muted text-center">Please fill out the form below to amend your in-home appointment</p>
        <form action="#" method="POST" style="max-width: 60%; margin: auto;">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5" style="border: #448070 1px solid;">
                <legend class="fieldset-label small text-black px-2 w-auto">Choose Your Designer</legend>
                {% render_field form.designer class="form-control" placeholder="Choose Your Designer" %}
                <br>
            </fieldset>
            <fieldset class="rounded px-3 mb-5" style="border: #448070 1px solid;">
                <legend class="fieldset-label small text-black px-2 w-auto">Your Details</legend>
                {% render_field form.first_name class="form-control" placeholder="First Name" %}
                <br>
                {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                <br>
                {% render_field form.user_email class="form-control" placeholder="Email Address" %}
                <br>
                {% render_field form.user_phone class="form-control" placeholder="Mobile" minlength="11" %}
                <br>
                {% render_field form.age class="form-control" min="18" max="100" placeholder="Age" %}
                <br>
            </fieldset>
            <fieldset class="rounded px-3 mb-5" style="border: #448070 1px solid;">
                <legend class="fieldset-label small text-black px-2 w-auto">Your Address</legend>
                {% render_field form.street_address1 class="form-control" placeholder="Street Address 1" %}
                <br>
                {% render_field form.street_address2 class="form-control" placeholder="Street Address 2" %}
                <br>
                {% render_field form.town_or_city class="form-control" placeholder="Town or City" %}
                <br>
                {% render_field form.county class="form-control" placeholder="County" %}
                <br>
                {% render_field form.postcode class="form-control" placeholder="Postcode" %}
                <br>
                {% render_field form.country class="form-control" placeholder="Country" %}
                <br>
            </fieldset>
            <fieldset class="rounded px-3 mb-5" style="border: #448070 1px solid;">
                <legend class="fieldset-label small text-black px-2 w-auto">Appointment Slot</legend>
                {% render_field form.date class="form-control" type="date" %}
                <br>
                {% render_field form.time class="form-control" %}
                <br>
            </fieldset>
            <div class="text-center">
                <input type="submit" id="submit" class="submit-btn btn btn-green" value="Update Appointment">
            </div>
        </form>
    </div>
{% endblock %}