{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center pr-0 pl-0">
                <div class="jumbotron jumbotron-fluid jumbotron-category mb-0">
                    <div class="container">
                        <h1 class="display-4" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">Book an In-Home Design Appointment</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-circle" style="background-color: #3f2a33; border: #3f2a33;">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto" style="color: #f5f5f3;"></i>
        </a>	
    </div>
    <br>
    <br>
    <div>
        <h5 class="text-center">Make a booking today!</h5>
    </div>

    <div class="col-12 col-lg-6">
        <p class="text-muted">Please fill out the form below to complete your order</p>
        <form action="#" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                {{ appointment_form.first_name }}
                {{ appointment_form.user_email }}
            </fieldset>
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                {{ appointment_form.user_phone }}
                <div class="form-check form-check-inline float-right mr-0">
                    {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a style="color: #448070;" href="{% url 'account_signup' %}">Create an account</a> or 
                            <a style="color: #448070;" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
    <br>
    <br>
{% endblock %}