{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="jumbotron jumbotron-fluid jumbotron-category mb-0" style="margin-top: 10rem !important;">
        <div class="container">
            <h1 class="display-4 text-center" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">{% trans "Password Set" %}</h1>
        </div>
    </div>
    <br>
    <br>

    <form style="max-width: 60%; margin: auto;" method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-green text-center" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}