{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="jumbotron jumbotron-fluid jumbotron-category auth-category mb-0" style="margin-top: 9rem;">
        <div class="container">
            <h1 class="display-4 text-center sm-category-name" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        </div>
    </div>
    <br>
    <br>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form style="max-width: 60%; margin: auto;" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <a class="btn btn-outline-green" href="{% url 'account_login' %}">Back to Login</a>
                    <input class="btn btn-green" type="submit" name="action" value="{% trans 'change password' %}"/>
                </div>
            </form>
        {% else %}
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}