{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
        </style>
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{width:100%;}
        </style>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/7ac16726b9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Email JS -->
        <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
        </script>
        <script type="text/javascript">
          (function(){
              emailjs.init("Yh1W5Uk6f_--MC1RQ");
          })();
        </script>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Home(ish) {% block extra_title %}{% endblock %}</title>
    <meta name="description"
      content="Luxury high-end furniture for renters and landlords, who can sell back their goods afterwards">
    <meta name="keywords"
      content="homeish, online furniture store, expensive furniture on sale, staging a house to sell,
      staging a house to rent, upcycle furniture, luxury furniture, quality furniture, buy-back furniture,
      low carbon furniture seller, furniture for renters, furniture for landlords, luxury garden furniture,
      luxury bedroom furniture, luxury dining sets, redecorating a flat with luxury items,
      redecorating a house with luxury furniture, return used furniture, new luxury furniture,
      accessible high end furniture, homeish design consultation, in home design appointments,
      low carbon footprint furniture, decor pieces, decorative pieces, design inspiration,
      home design inspiration, homeish design inspiration, home(ish), sofa bed, beds,
      wardrobe, dining chairs, tables, chairs, tv units, couch, living room furniture,
      garden pieces, rattan garden furniture">
  </head>
  <body>
    <header class="container-fluid fixed-top" style="background-color: #372f42">
      <div id="delivery-banner" class="row text-center">
        <div class="col">
            <p class="my-0">£50 off and free delivery, when you spend a minimum of £{{ minimum_spend_threshold }}!</p>                
        </div>            
      </div>
      <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h3 class="my-0 brand-name pr-2">Home(ish)</h3>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control border border-gold" type="text" name="q" placeholder="Search our site">
              <div class="input-group-append">
                <button class="form-control btn btn-gold border border-gold" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'contact' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-phone"></i></div>
                </div>
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="list-inline-item">
              <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fa-solid fa-compass-drafting"></i></div>
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a href="{% url 'appointment_add' %}" class="dropdown-item">Book a Design Appointment</a>
                <a href="{% url 'appointment_show' %}" class="dropdown-item">Your Appointments</a>
              </div>
            </li>
            {% endif %}
            <li class="list-inline-item">
              <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fa-solid fa-user"></i></div>
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Admin Control</a>
                  {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Account</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
      </div>
      
    </header>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            {% else %}
              {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}
    <br>
    <br>
    <footer class="footer-06">
			<div class="container">
				<div class="row align-items-center align-items-stretch mb-5">
					<div class="col-12 py-4 py-md-5 aside-stretch d-flex align-items-center">
						<div class="w-100">
							<span class="subheading">Subscribe to our</span>
							<h3 class="heading-section">Newsletter</h3>
              <!-- MailChimp -->
              <div id="mc_embed_signup">
                <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=b0b8d7383a362d17f0e0de2fc&amp;id=0a36af8747" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                <div class="mc-field-group pb-0">
                </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
                </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b0b8d7383a362d17f0e0de2fc_0a36af8747" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <!-- MailChimp -->
						</div>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-md-3 col-lg-6 order-md-last">
						<div class="row justify-content-end">
							<div class="col-md-12 col-lg-9 text-md-right mb-md-0 mb-4">
								<h2 class="footer-heading"><a href="{% url 'home' %}" class="logo">Home(ish)</a></h2>
								<p class="copyright">
							  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-lg-6">
						<div class="row">
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Information</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Privacy Policy</a></li>
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Terms and Conditions</a></li>
		              <li><a href="{% url 'contact' %}" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Contact Us</a></li>
                  <li><a href="https://earthly.org/" target="_blank" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Remove Carbon Footprint with Earthly Charity</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Services</h2>
								<ul class="list-unstyled">
		              <li><a href="{% url 'appointment_add' %}" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Home(ish) Designs</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Social</h2>
								<ul class="list-unstyled">
		              <li><a href="https://www.facebook.com/Home_ish-106704365332388" target="_blank" rel="noopener" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Facebook</a></li>
		              <li><a href="https://www.instagram.com/home.ish_uk/" target="_blank" rel="noopener" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Instagram</a></li>
		              <li><a href="https://www.pinterest.co.uk/homeish_uk/_created/" target="_blank" rel="noopener" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Pinterest</a></li>
		            </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

    
  </body>
</html>