{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Contact Us
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center pr-0 pl-0">
                <div class="jumbotron jumbotron-fluid jumbotron-category mb-0">
                    <div class="container">
                        <h1 class="display-4 sm-category-name" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <p class="lead pr-5 pl-5 text-center" style="margin-top: 70px;">Here to send us an email regarding our buy-back scheme or have a general question for us?<br>Please get in contact with us below!</p>
    
    <div class="row justify-content-center mt-5 contact-container" style="max-width: 60%; margin: auto;">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa-solid fa-map-location"></span>
                </div>
                <div class="text">
                  <span>
                    <span>Address:</span>
                    <span class="small">10 Barrack Rd, Christchurch, Dorset,<br>BH23 2BN, United Kingdom</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa-solid fa-at"></span>
                </div>
                <div class="text">
                  <span>
                    <span>Email:</span>
                    <span class="small">homeish.customercare<br>@gmail.com</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa-solid fa-phone-flip"></span>
                </div>
                <div class="text">
                  <span>
                    <span>Contact No.</span>
                    <span class="small">0871 527 8252</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container text-center contact-container2">
      <form id="contact-form">
        <div class="row">
          <div class="col-12">
            <input type="hidden" name="contact_number">
            <input type="text" name="user_name" class="form-control" placeholder="Name" required>
          </div>
          <div class="col-12 mt-1">
            <input type="email" name="user_email" class="form-control" placeholder="Email Address" required>
          </div>
          <div class="col-12 mt-1 mb-1 mt-1">
            <textarea rows="4" cols="10" name="message" class="form-control" placeholder="Message"></textarea>
          </div>
          <br>
          <div class="col-12">
            <input type="submit" class="btn btn-outline-green" value="Send">
          </div>
        </div>
      </form>
    </div>


{% endblock %}

{% block postloadjs %}
{% include 'contact/includes/email_script.html' %}
{% endblock %}