{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Edit Product
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center pr-0 pl-0">
                <div class="jumbotron jumbotron-fluid jumbotron-category mb-0">
                    <div class="container">
                        <h1 class="display-4 sm-category-name title-size" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">Product Management</h1>
                        <h3>Edit a Product</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid buffer">
        <div class="row">
            <div class="col w-80">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <a class="btn btn-outline-green mt-3" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-green mt-3" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}