{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center pr-0 pl-0">
                <div class="jumbotron jumbotron-fluid jumbotron-category mb-0">
                    <div class="container">
                        <h1 class="display-4 sm-category-name" style="text-decoration: none; color: rgba(107, 107, 107, 0.959);">Décor Inspiration</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-circle" style="background-color: #3f2a33; border: #3f2a33;">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto" style="color: #f5f5f3;"></i>
        </a>	
    </div>
    <br>
    <br>
    <div>
        <h5 class="text-center decor-headline">Need some décor inspiration?<br>Well, we are here to help!</h5>
        <p class="text-muted text-center pl-5 pr-5">Browse through our décor inspirations below or if you want some personalised help, book an appointment with an in-home designer today!</p>
        {% if request.user.is_authenticated %}
        <div class="text-center">
            <button class="btn btn-green">
                <a style="color: white !important; text-decoration: none !important;" href="{% url 'appointment_add' %}">Make an appointment</a>
            </button>
        </div>
        {% else %}
        <div class="text-center">
            <button class="btn btn-green">
                <a style="color: white !important; text-decoration: none !important;" href="{% url 'account_login' %}">Login</a>
            </button>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="gallery-container">
        <div class="gallery-item w-1 h-2">
            <div class="image">
                <img src="/media/decor-1.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-2.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item w-2 h-2">
            <div class="image">
                <img src="/media/decor-3.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-4.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-2">
            <div class="image">
                <img src="/media/decor-5.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item w-2 h-3">
            <div class="image">
                <img src="/media/decor-6.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-7.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-8.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-9.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-10.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-11.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-12.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-13.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-2">
            <div class="image">
                <img src="/media/decor-14.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item w-2 h-3">
            <div class="image">
                <img src="/media/decor-15.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-16.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-2">
            <div class="image">
                <img src="/media/decor-17.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-18.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-3">
            <div class="image">
                <img src="/media/decor-19.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-20.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item w-2 h-2">
            <div class="image">
                <img src="/media/decor-21.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-2">
            <div class="image">
                <img src="/media/decor-22.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item">
            <div class="image">
                <img src="/media/decor-23.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-2">
            <div class="image">
                <img src="/media/decor-24.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item h-2">
            <div class="image">
                <img src="/media/decor-25.jpeg" alt="decor image">
            </div>
        </div>

        <div class="gallery-item w-2">
            <div class="image">
                <img src="/media/decor-26.jpeg" alt="decor image">
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}